Question 1 :
Write a program to subtract two complex numbers in **Python**

In [68]:
def subtraction_complex():
  arr=[]
  for i in range(1,3):

    var=complex(input('Ingresa un numero complejo: '))
    arr.append(var)
    
  
  return 'The substraction between those numbers is:',arr[0]-arr[1]

In [69]:
subtraction_complex()

Ingresa un numero complejo: 6+3j
Ingresa un numero complejo: 7+2j

('The substraction between those numbers is:', (-1+1j))

Question 2 :
Write a program to find the fourth root of a number.

In [64]:
def root_numb(number):
  print( 'the fourth root of',str(number),'is : ',number**(1/4))

In [65]:
root_numb(81)

the fourth root of 81 is :  3.0

Question 3:
Write a program to swap two numbers in Python with the help of a temporary variable.

In [72]:
def swap_Temp(x,y):

  temp = x
  x = y
  y = temp

  print('The value of the first number after swapping: {}'.format(x))
  print('The value of the second number after swapping: {}'.format(y))

In [73]:
swap_Temp(7,8)

The value of the first number after swapping: 8
The value of the second number after swapping: 7

Question 4:
Write a program to swap two numbers in Python without using a temporary variable.

In [74]:
def swap_no_Temp(x,y):

  x, y = y,x
  print('The value of the first number after swapping: {}'.format(x))
  print('The value of the second number after swapping: {}'.format(y))

In [75]:
swap_no_Temp(7,8)

The value of the first number after swapping: 8
The value of the second number after swapping: 7

Question 5:
Write a program to convert fahrenheit to kelvin and celsius both

In [106]:
def conversion(scale,value_scale):
  'scale:The user must indicates if the scale to be obtained ist kelvion or celsius'
  'value_scale:The user must indicates if the fahrenheit scale value'
  if scale=='celsius':
    cal=(value_scale - 32) * 5/9
  if scale=='kelvin':
    cal=((value_scale - 32) * 5/9 + 273.15) 
  print(value_scale,'fahrenheit --->',scale,'ist: ',cal,scale)

In [107]:
conversion('kelvin',32)

32 fahrenheit ---> kelvin ist:  273.15 kelvin

In [108]:
conversion('celsius',32)

32 fahrenheit ---> celsius ist:  0.0 celsius

Question 6:
Write a program to demonstrate all the available data types in Python. Hint: Use type() function

In [150]:
def data_types():
  print('The standard data types')
  print('1. Numbers :')
  print(' ',4,' -->',(type(4)))
  print(' ',4+3j,' -->',(type(4+3j)))
  print(' ',6.777,' -->',(type(6.7777)))

  print('String')
  print(' ','Hello',' -->',(type('Hello')))

  print('List')
  print(' ','[4,5,6]',' -->',(type([4,6,5])))
  print('Dictionary')
  print(' ',"{1:'hi',2:' world'}",' -->',(type({1:'hi',2:' world'})))
  print('Tuple')
  print(' ',"(1, 2, 3, 4, 5 )",' -->',(type((1, 2, 3, 4, 5 ))))

In [151]:
data_types()

The standard data types
1. Numbers :
  4  --> <class 'int'>
  (4+3j)  --> <class 'complex'>
  6.777  --> <class 'float'>
String
  Hello  --> <class 'str'>
List
  [4,5,6]  --> <class 'list'>
List
  {1:'hi',2:' world'}  --> <class 'dict'>
Tuple
  (1, 2, 3, 4, 5 )  --> <class 'tuple'>

Question 7:
Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan
Ingle sir to create Github profile and upload Githubs Assignment link.

1. Create a Github profile
2. Create a new repository with the name : LetsUpgrade-AI-ML (compulsory), and the subject Assignments and set to be public
3. Upload the file (that is a named after the day of the assignment)
4. Then copy the URL to the registration form