Assignment Day 6

 Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [29]:
emails=['frank@google.com','martin@amazon.com','chris@ebay.com','chris@ibm.com','chris@apple.com','chris@motorola.com']

In [31]:
for sentence in emails:
  for element in sentence.split('@'):
    if element.split('.')[-1]=='com':
      print(element.split('.')[0])

google
amazon
ebay
ibm
apple
motorola

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [44]:
char='without,hello,bag,world'
nw_char=char.split(',')
nw_char.sort()
char_nw=','.join(nw_char)

In [45]:
char_nw

'bag,hello,without,world'

Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

#Set

Please see the Notebook called Assignment Day 6_Set.ipynb

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [52]:
numbers=[1,2,4,5,7,8,9,2,1,6,11,20]
uniq_list=list(set(numbers))
for i in range(1,max(numbers)):
  if i not in  uniq_list:
    print('missing number',i)

missing number 3
missing number 10
missing number 12
missing number 13
missing number 14
missing number 15
missing number 16
missing number 17
missing number 18
missing number 19

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [53]:
numbers=[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
ord_list=list(set(numbers))
ord_list.sort()

In [56]:
ord_list

[12, 24, 35, 88, 120, 155]